@{
    ViewData["Title"] = "Home Page";
}

<div id="welcome-splash">
    <div class="flex-col">
        <h1>Documentor</h1>
        <p>Document Formation Tool for WorldBuilding and Game Development</p>
    </div>
</div>

<div id="changelog">
    <div class="subsection">
        <h2>Core Features</h2>
        <div>
            <h3>Account Basics</h3>
            <p>Users are able to create and manage their </p>
        </div>
        <div>
            <h3>Project</h3>
            <p>A collection of Books and Documentation</p>
        </div>
        <div>
            <h3>Book</h3>
            <p>A collection of Chapters in a richtext format.  It should be able to be exported into normal formats (ie: word, pdf, etc)</p>
        </div>
        <div>
            <h3>Document</h3>
            <p>A collection of various sections of text for a more technical use.  Also saved in a richtext format and should be able to be exported</p>
        </div>
    </div>
    <div class="subsection">
        <h3>Needs to be done</h3>
        <ul>
            <li>SQL needs to be implemented for saving data</li>
            <li>Routing to the major project page/s </li>
            <li>Display for projects on the main-page</li>
        </ul>
    </div>
</div>


<!-- Document Display Partial -->

