@{
    ViewData["Title"] = "Home Page";
}

<div id="welcome-splash">
    <div class="flex-col">
        <h1>Documentor</h1>
        <p>Document Formation Tool for WorldBuilding and Game Development</p>
    </div>
</div>


<!-- Document Display Partial -->

