@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Documentor</h1>
    <p>Document Formation Tool for WorldBuilding and Game Development</p>
    <!-- Document Display Partial -->
</div>
