<html>
    <body>
        <h1>Sign In</h1>
        <div>
            <form>
                <input name="username" placeholder="Username..." type="text"></input>
                <input name="password" placeholder="password" type="password"></input>
            </form>
        </div>
    </body>
</html>