<html>
    <h1> --Project Name-- </h1>
    <div id="document-base-content">
        --Document Base Content / Description--
    </div>

    <div id="project-contents">
         <div id="stories">
            --Stories Partial Go Here--
        </div>

        <div id="documentation">
            --Documentation Partial Goes Here--
        </div>
    </div>
    
</html>