body {
  background: rgb(25 , 25 , 25);
  color: rgb(245, 245, 245);
  --shadow-color: rgba(255 , 255 , 255 , 0.25);
}

.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.wrapper{
  width: 100%;
  height: 100%;
}

nav{
  --padding: 1%;
  display: flex;
  padding-left: 3%;
  box-shadow: 0px 15px 20px var(--shadow-color);
}

button.link{
  background: rgba(0 , 0 , 0 , 0);
  color: white;
  border: none;

  --side-margin: 2%;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

button.link:active{
  color: rgb(200 , 200 , 200);
}

button.link:hover{
  color: rgb(45 , 45 , 200);
}

h2.logo{

}

footer{
  position: absolute;
  display: flex;
  min-width: 100%;
  bottom: 0;
}

.debug{
  background: red;
}

#welcome-splash{
  padding-top: 5%;
  margin: auto;
}

#welcome-splash div{
  text-align: center;
  justify-content: center;
}

#changelog{
  display: flex;
  justify-content: space-around;
  background: rgba(255 , 255 , 255 , 0.01);
  border-radius: 0.25em;
}

#changelog .subsection{

}